#project {
    width: 100%;
    display: inline-block;
    /* display: none; */
    /* background-color: white; */
}

#project-cont {
    display: block;
}

#project .cards {
    margin-top: 0px !important;
}

#project .card {
    display: block;
    width: auto;
    height: 5.0rem;
    background-color: #1d1e28;
    border-radius: 22px !important;
    border: 4px solid #ad91ff;
    margin-bottom: 5px;
}

#project .card-title {
    margin: 0;
    font-size: 20px !important;
}

#project .card-text {
    color: rgba(255, 255, 255, 0.46) !important;
}

#project .card-body {
    width: 100%;
    display: inline-flex;
    padding: 1.25rem;
}

#project #top-card-title-text{
    width: 25%;
}
#project #top-card-text {
    width: 60%;
    margin-top: -10px;
    /* margin-left: 30px; */
    text-align: center;
}

#project #top-card-text .card-text {
    margin-bottom: 0;
}

#mubu {
    background-color: white;
    border-radius: 10px;
}

#input-container .btn {
    margin: 2px 1px;
}

#input-container a {
    color: white;
}

#input-container .operators {
    font-size: 20px !important;
}

#input-container .btn-lg {
    padding: 11px 22px;
    width: -webkit-fill-available;
    max-width: 120px;
}

#input-container .item10 .btn-lg {
    padding: 5px 11px;
}

#input-variable {
    border-color: rgb(173, 145, 255);
}

#truth-table {
    /* margin-top: 10px; */
    display: -webkit-box;
    /* display: none; */
}

.table {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
}

.table td {
    padding: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
    zoom: 113%;
}

#truth-table label {
    margin: 0 0.5rem 0.2rem 0.5rem;
    /* margin-bottom: 0.2rem; */
}

#check-container {
    /* margin-top: 50px; */
    background-color: white;
    padding-top: 50px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 16px;
    width: 20%;
    text-align: center;
}

#check-container span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

#check-container span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

#check-container span a:before,
#check-container span a:after {
    position: absolute;
    content: "CHECK";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

#check-container span a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

#check-container span a:after {
    color: #000;
    background-color: #fff;
    transform: rotateX(90deg) translateZ(25px);
}

#check-container span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

#truth-table-img {
    margin-top: 50px;
    align-items: center;
}

div#hidden-container {
    display: none;
}

.item0 {
    grid-area: blank;
}

.item1 {
    grid-area: and;
}

.item2 {
    grid-area: or;
}

.item3 {
    grid-area: then;
}

.item4 {
    grid-area: dthen;
}

.item5 {
    grid-area: not;
}

.item6 {
    grid-area: generate;
}

.item7 {
    grid-area: clear;
}

.item8 {
    grid-area: check;
}

.item9 {
    grid-area: blank2;
}

.item10 {
    grid-area: input;
}

#input-container {
    display: grid;
    grid-template-areas: "and then not blank blank input clear blank2" "or dthen not blank blank generate check blank2";
    grid-gap: 10px;
    padding: 10px;
}

@media screen and (min-width:1400px) {
    .container {
        max-width: 1390px;
    }
}